VITE_API_URL=http://localhost:5000/api/v1
VITE_SOCIAL_LINKEDIN=https://www.linkedin.com/in/yourprofile/
VITE_SOCIAL_GITHUB=https://github.com/yourusername/
VITE_SOCIAL_EMAIL=mailto:your.email@example.com
VITE_ENGINEER_NAME=John Doe
VITE_ENGINEER_EMAIL=your.email@example.com
VITE_ADMIN_PATH=/secret-portal-path
